@page
@model OnlineGamesModel
@{
    ViewData["Title"] = "Онлайн игры";
}

<h2>Онлайн игры</h2>

<div class="games-list">

    <div class="game-card">
        <h3>Лови букву</h3>
        <p>Проверь свою реакцию и внимательность!</p>
        <a asp-page="/OnlineGames/CatchLetter" class="btn-submit">
            Играть
        </a>
    </div>

    <div class="game-card">
        <h3>Математическая игра</h3>
        <p>Прокачай свои навыки устного счёта.</p>
        <a asp-page="/OnlineGames/MathGame" class="btn-submit">
            Играть
        </a>
    </div>

</div>